csbot-v1/src/n8n-workflows/test-all.json
{
  "name": "CS봇 자동 테스트",
  "nodes": [
    {
      "parameters": {
        "content": "## CS봇 자동 테스트 워크플로우\n\nFAQ 10개 + 엣지케이스 5개 = 총 15개 시나리오 자동 실행\n\n---\n\n### 실행 방법\n1. Main CSBot 워크플로우가 **Active** 상태인지 확인\n2. 이 워크플로우 우상단 **Test workflow** 클릭\n3. `Manual Trigger` 노드의 ▶ 실행 버튼 클릭\n4. `Aggregate Results` 노드에서 Summary 텍스트 확인\n\n---\n\n### Import 후 설정\n- **Airtable Credential** 재연결 (Save Test Run 노드)\n- **Base ID** 변경: YOUR_AIRTABLE_BASE_ID → 실제 값\n- **CSBot URL** 확인: http://localhost:5678/webhook/csbot/message\n\n### TestResults 테이블 생성 필요\nAirtable에 TestResults 테이블을 직접 만들어야 합니다:\n- RunDate (Date)\n- TotalTests (Number)\n- PassCount (Number)\n- PassRate (Number)\n- FAQMatched (Number)\n- FallbackCount (Number)\n- ErrorCount (Number)\n- AvgResponseMs (Number)\n- Summary (Long Text)\n- Details (Long Text)",
        "height": 680,
        "width": 380
      },
      "id": "ta000001-0000-4000-8000-000000000001",
      "name": "Test Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "ta000001-0000-4000-8000-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// runOnceForAllItems\nconst ts = Date.now();\n\nconst cases = [\n  // FAQ 10개 — 각 카테고리 대표 메시지\n  { test_id: 1,  category: '배송조회',   expected: 'FAQ_MATCH', message: '운송장 번호 알려주세요' },\n  { test_id: 2,  category: '배송소요일', expected: 'FAQ_MATCH', message: '주문하면 며칠 만에 와요?' },\n  { test_id: 3,  category: '교환',       expected: 'FAQ_MATCH', message: '사이즈를 잘못 주문했어요 교환 가능한가요?' },\n  { test_id: 4,  category: '반품환불',   expected: 'FAQ_MATCH', message: '마음에 안 들어서 반품하고 싶어요' },\n  { test_id: 5,  category: '주문취소',   expected: 'FAQ_MATCH', message: '방금 주문했는데 취소할 수 있나요?' },\n  { test_id: 6,  category: '재입고',     expected: 'FAQ_MATCH', message: '품절인데 언제 다시 들어오나요?' },\n  { test_id: 7,  category: '영업시간',   expected: 'FAQ_MATCH', message: '고객센터 몇 시까지 운영해요?' },\n  { test_id: 8,  category: '결제',       expected: 'FAQ_MATCH', message: '무통장 입금 계좌 알려주세요' },\n  { test_id: 9,  category: '상품정보',   expected: 'FAQ_MATCH', message: '이 제품 소재가 뭔가요?' },\n  { test_id: 10, category: '배송지역',   expected: 'FAQ_MATCH', message: '제주도 배송 되나요?' },\n  // 엣지케이스 5개\n  { test_id: 11, category: 'EDGE_없는질문',   expected: 'FALLBACK', message: '이 제품 성분이 뭐에요?' },\n  { test_id: 12, category: 'EDGE_인사잡담',   expected: 'FALLBACK', message: '안녕하세요~' },\n  { test_id: 13, category: 'EDGE_짧은메시지', expected: 'FAQ_MATCH', message: '배송' },\n  { test_id: 14, category: 'EDGE_긴불만메시지', expected: 'FAQ_MATCH', message: '어제 주문한 상품인데요 아직도 배송이 안 왔고 고객센터 전화도 안 받고 너무 화가 나서 이렇게 문의드립니다 환불도 하고 싶고 교환도 원하는데 어떻게 해야 하나요 제발 빨리 답변주세요' },\n  { test_id: 15, category: 'EDGE_연속질문',   expected: 'FAQ_MATCH', message: '교환하려면요? 기간은요? 택배비는요?' }\n];\n\nreturn cases.map(function(c) {\n  return {\n    json: {\n      test_id: c.test_id,\n      category: c.category,\n      expected: c.expected,\n      message: c.message,\n      store_id: '1',\n      session_id: 'test_' + ts + '_' + c.test_id,\n      channel: 'web_widget',\n      start_time: Date.now()\n    }\n  };\n});"
      },
      "id": "ta000001-0000-4000-8000-000000000003",
      "name": "Define Test Cases",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/csbot/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ store_id: $json.store_id, session_id: $json.session_id, channel: $json.channel, message: $json.message }) }}",
        "options": {
          "timeout": 15000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "ta000001-0000-4000-8000-000000000004",
      "name": "Call CSBot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        320
      ],
      "onError": "continueErrorOutput",
      "notes": "⚠️ URL을 실제 n8n 호스트로 변경하세요\n예: http://YOUR_N8N_HOST:5678/webhook/csbot/message"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\n\n// HTTP 응답 body만 오므로 원래 test case 데이터를 인덱스로 참조\nconst allCases = $('Define Test Cases').all();\nconst testCase = allCases[$itemIndex] ? allCases[$itemIndex].json : {};\n\nvar botResponse = '';\nvar resultType = 'ERROR';\n\n// HTTP 응답 파싱\nif (item.error) {\n  botResponse = 'HTTP_ERROR: ' + JSON.stringify(item.error);\n  resultType = 'ERROR';\n} else {\n  try {\n    var body = item.body || item;\n    if (typeof body === 'string') {\n      body = JSON.parse(body);\n    }\n    botResponse = body.response || body.message || JSON.stringify(body);\n  } catch (e) {\n    botResponse = JSON.stringify(item);\n  }\n\n  if (botResponse.includes('담당자에게 전달')) {\n    resultType = 'FALLBACK';\n  } else if (botResponse.includes('오류') || botResponse.includes('error')) {\n    resultType = 'ERROR';\n  } else {\n    resultType = 'FAQ_MATCH';\n  }\n}\n\n// 기대값과 실제값 비교\nconst expected = testCase.expected || '';\nconst passed = resultType === expected;\n\nreturn {\n  test_id:          testCase.test_id || 0,\n  category:         testCase.category || '',\n  message:          testCase.message || '',\n  expected:         expected,\n  actual:           resultType,\n  passed:           passed,\n  bot_response:     botResponse.substring(0, 300),\n  response_time_ms: Date.now() - (testCase.start_time || 0)\n};"
      },
      "id": "ta000001-0000-4000-8000-000000000005",
      "name": "Evaluate Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item.json;\nreturn {\n  test_id: item.test_id || 0,\n  category: item.category || 'UNKNOWN',\n  message: item.message || '',\n  expected: item.expected || '',\n  actual: 'ERROR',\n  passed: false,\n  bot_response: 'HTTP_REQUEST_FAILED',\n  response_time_ms: 0\n};"
      },
      "id": "ta000001-0000-4000-8000-000000000006",
      "name": "Mark Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        440
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "ta000001-0000-4000-8000-000000000007",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1400,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const results = $input.all().map(function(item) { return item.json; });\nconst total = results.length;\n\nconst faqMatched = results.filter(function(r) { return r.actual === 'FAQ_MATCH'; }).length;\nconst fallbacks  = results.filter(function(r) { return r.actual === 'FALLBACK'; }).length;\nconst errors     = results.filter(function(r) { return r.actual === 'ERROR'; }).length;\nconst passed     = results.filter(function(r) { return r.passed === true; }).length;\n\nconst passRate     = total > 0 ? Math.round((passed / total) * 100) : 0;\nconst faqRate      = total > 0 ? Math.round((faqMatched / total) * 100) : 0;\nconst fallbackRate = total > 0 ? Math.round((fallbacks / total) * 100) : 0;\n\nconst avgResponseMs = total > 0\n  ? Math.round(results.reduce(function(sum, r) { return sum + (r.response_time_ms || 0); }, 0) / total)\n  : 0;\n\nconst detailLines = results.map(function(r) {\n  var icon = r.passed ? 'PASS' : 'FAIL';\n  return '[' + icon + '] #' + r.test_id + ' ' + r.category\n    + ' | expected=' + r.expected + ' actual=' + r.actual\n    + ' | ' + (r.message || '').substring(0, 40);\n});\n\nconst summary = [\n  '=== CS봇 자동 테스트 결과 ===',\n  '실행일시: ' + new Date().toLocaleString('ko-KR'),\n  '',\n  '총 케이스: ' + total + '개',\n  'PASS: ' + passed + '개 (' + passRate + '%)',\n  'FAQ 매칭: ' + faqMatched + '개 (' + faqRate + '%)',\n  '폴백: ' + fallbacks + '개 (' + fallbackRate + '%)',\n  '에러: ' + errors + '개',\n  '평균 응답시간: ' + avgResponseMs + 'ms',\n  '',\n  '--- 케이스별 결과 ---',\n  detailLines.join('\\n')\n].join('\\n');\n\nreturn [{\n  json: {\n    RunDate: new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' }),\n    TotalTests: total,\n    PassCount: passed,\n    PassRate: passRate,\n    FAQMatched: faqMatched,\n    FallbackCount: fallbacks,\n    ErrorCount: errors,\n    AvgResponseMs: avgResponseMs,\n    Summary: summary,\n    Details: JSON.stringify(results)\n  }\n}];"
      },
      "id": "ta000001-0000-4000-8000-000000000008",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        320
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "TestResults",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "RunDate": "={{ $json.RunDate }}",
            "TotalTests": "={{ $json.TotalTests }}",
            "PassCount": "={{ $json.PassCount }}",
            "PassRate": "={{ $json.PassRate }}",
            "FAQMatched": "={{ $json.FAQMatched }}",
            "FallbackCount": "={{ $json.FallbackCount }}",
            "ErrorCount": "={{ $json.ErrorCount }}",
            "AvgResponseMs": "={{ $json.AvgResponseMs }}",
            "Summary": "={{ $json.Summary }}",
            "Details": "={{ $json.Details }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "RunDate",
              "displayName": "RunDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TotalTests",
              "displayName": "TotalTests",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PassCount",
              "displayName": "PassCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PassRate",
              "displayName": "PassRate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FAQMatched",
              "displayName": "FAQMatched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "FallbackCount",
              "displayName": "FallbackCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ErrorCount",
              "displayName": "ErrorCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AvgResponseMs",
              "displayName": "AvgResponseMs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Details",
              "displayName": "Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ta000001-0000-4000-8000-000000000009",
      "name": "Save Test Run",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1880,
        320
      ],
      "onError": "continueRegularOutput",
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable"
        }
      },
      "notes": "⚠️ Import 후 설정:\n1. Airtable Credential 재연결\n2. Base ID 변경\n3. Airtable에 TestResults 테이블 생성 필요"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Define Test Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Test Cases": {
      "main": [
        [
          {
            "node": "Call CSBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call CSBot": {
      "main": [
        [
          {
            "node": "Evaluate Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Error": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Save Test Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ta000001-0000-4000-8000-000000000099",
  "meta": {
    "instanceId": "ee47474067e98b2c6e6dc3fa8b47a61d99afb0655ded6fd3e34fb73643976e2b"
  },
  "id": "TestAllWorkflow01",
  "tags": []
}