n8n-workflows/RSS 뉴스 필터링 bot.json
{
  "name": "RSS 뉴스 필터링 bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        0
      ],
      "id": "13c5750f-dcef-4b9d-8108-643eadbeb90a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -240,
        0
      ],
      "id": "42262915-8c78-428b-927f-3e1dd91d72f3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d28d33b-7c6a-4131-8240-56468769ed70",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "ai",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "147b196f-873a-4039-ac5d-57fb75fa9a5f",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "automation",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "2da6e0f6-f7af-45ec-a254-c17b2ab4950a",
              "leftValue": "={{ $json.title.toLowerCase() }}",
              "rightValue": "chatbot",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16,
        0
      ],
      "id": "2e9dc707-0bfa-4e9a-81d7-c5a1822afa75",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "6934610426",
        "text": "={{ \"📰 <b>AI 뉴스 발견!</b>\\n\\n\" +\n   \"📌 \" + $json.title + \"\\n\\n\" +\n   \"✍️ \" + ($json.creator || \"작성자 미상\") + \"\\n\" +\n   \"📅 \" + $json.pubDate + \"\\n\\n\" +\n   \"🔗 <a href='\" + $json.link + \"'>기사 읽기</a>\" }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        -128
      ],
      "id": "d8310966-d5ee-45db-ad1c-51da36d49009",
      "name": "Send a text message",
      "webhookId": "01cc7f60-1fd5-4c58-a1a3-0e79d2845713",
      "credentials": {
        "telegramApi": {
          "id": "RZUs7OcZESJ1ViqD",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "160981f0-2381-43ea-ab86-59fb7276b3c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee47474067e98b2c6e6dc3fa8b47a61d99afb0655ded6fd3e34fb73643976e2b"
  },
  "id": "gcSgJZAgPwMHXRrb",
  "tags": []
}