n8n-workflows/카카오 환율변화 브리핑.json
{
  "name": "카카오 환율변화 브리핑",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        0
      ],
      "id": "cd66276b-4007-49b6-bb01-8d0576f3d0b3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://v6.exchangerate-api.com/v6/e9e7d04fd3e5bb293eb8489e/pair/USD/KRW",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        0
      ],
      "id": "68e99413-0757-4f51-a966-215b53b377bd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const KAKAO_APP_KEY = 'df4915d1a699d9da7b0d1f49084ccb3b';   // B-2에서 복사한 값\nconst REFRESH_TOKEN = 'cqb2fZruY3MkcU4HUc_9rvnx9Y6ypNcKAAAAAgoNIdkAAAGctU6KhMc_xW4TVk05';  // B-6에서 저장한 값\n\n// 1. 환율 데이터 수신\nconst rate = $input.first().json.conversion_rate;\nif (!rate) throw new Error('환율 데이터를 받지 못했습니다.');\n\n// 2. 전일 환율과 비교 (staticData에 저장)\nconst staticData = $getWorkflowStaticData('global');\nconst previousRate = staticData.previousRate ?? rate;\nconst change = parseFloat((rate - previousRate).toFixed(2));\nconst changePct = ((change / previousRate) * 100).toFixed(2);\nconst sign = change >= 0 ? '+' : '';\nconst arrow = change > 0 ? '📈' : change < 0 ? '📉' : '➡️';\n\n// 3. 오늘 날짜\nconst today = new Date().toLocaleDateString('ko-KR', {\n  timeZone: 'Asia/Seoul',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  weekday: 'short'\n});\n\n// 4. 전일 환율 업데이트\nstaticData.previousRate = rate;\n\n// 5. 카카오 Access Token 갱신\n// ✅ 수정: $http.request() → this.helpers.httpRequest()\nconst tokenRes = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://kauth.kakao.com/oauth/token',\n  headers: { 'Content-Type': 'application/x-www-form-urlencoded' },\n  body: `grant_type=refresh_token&client_id=${KAKAO_APP_KEY}&refresh_token=${REFRESH_TOKEN}`,\n});\n\nconst accessToken = tokenRes.access_token;\nif (!accessToken) throw new Error('카카오 토큰 갱신 실패: ' + JSON.stringify(tokenRes));\n\n// 새 refresh_token이 응답에 포함되면 자동 저장\nif (tokenRes.refresh_token) {\n  staticData.latestRefreshToken = tokenRes.refresh_token;\n}\n\n// 6. 메시지 작성 (200자 제한)\nconst rawText = `[환율 브리핑] ${today}\\nUSD/KRW: ${rate.toLocaleString('ko-KR')}원\\n${arrow} 전일比: ${sign}${change}원 (${sign}${changePct}%)\\n출처: ExchangeRate-API`;\n\n// ✅ 수정: 이모지 포함 시 .slice() 사용하면 깨짐 → spread로 글자 단위 자르기\nconst safeText = [...rawText].slice(0, 200).join('');\n\n// 7. 카카오 메시지 템플릿 생성\nconst kakaoTemplate = JSON.stringify({\n  object_type: 'text',\n  text: safeText,\n  link: {\n    web_url: 'https://www.exchangerate-api.com',\n    mobile_web_url: 'https://www.exchangerate-api.com'\n  }\n});\n\nreturn [{ json: { accessToken, kakaoTemplate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "cc06db0c-c2b8-4284-b0f1-815315ade1ac",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kapi.kakao.com/v2/api/talk/memo/default/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "template_object",
              "value": "={{ $json.kakaoTemplate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "1c148158-1e9f-4c3e-97f3-0c39a2b930c3",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Seoul",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "433a8f2e-1082-4731-a29d-ccc256abbdd1",
  "meta": {
    "instanceId": "ee47474067e98b2c6e6dc3fa8b47a61d99afb0655ded6fd3e34fb73643976e2b"
  },
  "id": "kJSIvaRqTzFpR7yJ",
  "tags": []
}