csbot-v1/references/n8n-golden/Main CSBot - working IF notEmpty.json
{
  "name": "Main CSBot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csbot/message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c2045895-b706-4eb9-9fa7-c48066e15322",
      "name": "Receive Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        464,
        192
      ],
      "webhookId": "csbot-message-webhook"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appI7k8fYw6FrO1cq",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "tblr6Oo6rjPK55Dne",
          "mode": "list",
          "cachedResultName": "Stores",
          "cachedResultUrl": "https://airtable.com/appI7k8fYw6FrO1cq/tblr6Oo6rjPK55Dne"
        },
        "filterByFormula": "{IsActive}=TRUE()",
        "options": {}
      },
      "id": "f80adf41-f4fd-4c75-8cb5-af7ae0d12f96",
      "name": "Get Store Config",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        704,
        192
      ],
      "notesInFlow": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "zmygdz3GWdmH71gj",
          "name": "Airtable Personal Access Token account"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "⚠️ Import 후 설정 필요:\n1. Airtable Credential 매핑\n2. Base ID를 실제 값으로 변경 (appXXXXXX)\n3. 테이블명 확인"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "FAQs",
          "mode": "name"
        },
        "filterByFormula": "{IsActive}=TRUE()",
        "options": {}
      },
      "id": "7aae8a3c-17e7-4bdb-9c70-86e6930ad893",
      "name": "Get FAQs",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1168,
        192
      ],
      "onError": "continueRegularOutput",
      "notes": "MVP: 단일 스토어이므로 IsActive만 필터링.\n멀티스토어 시 StoreID 필터 추가 필요."
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name"
        },
        "filterByFormula": "{SessionID}='{{ $('Receive Message').first().json.body.session_id }}'",
        "returnAll": false,
        "limit": 5,
        "options": {}
      },
      "id": "5282734c-9702-4690-b593-4b8538adb43a",
      "name": "Get Recent Conversations",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1408,
        192
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Webhook 데이터 추출\nconst webhookData = $('Receive Message').first().json.body;\nconst store = $('Get Store Config').first().json;\nconst faqItems = $('Get FAQs').all();\nconst convItems = $('Get Recent Conversations').all();\n\n// store_info 직렬화\nconst storeInfo = [\n  '스토어명: ' + (store.StoreName || ''),\n  '배송사: ' + (store.ShippingCarrier || ''),\n  '출고 소요일: ' + (store.ShipOutDays || '') + '영업일',\n  '배송 소요일: ' + (store.ShippingDays || '') + '영업일',\n  '당일 출고 마감: ' + (store.CutoffTime || ''),\n  '교환 가능 기간: 수령 후 ' + (store.ExchangePeriod || '') + '일',\n  '반품 가능 기간: 수령 후 ' + (store.ReturnPeriod || '') + '일',\n  '단순 변심 반품 배송비: ' + (store.ReturnShippingCost || '') + '원',\n  '환불 처리 소요일: ' + (store.RefundDays || '') + '영업일',\n  '영업시간: ' + (store.BusinessHours || '') + ' (' + (store.BusinessDays || '') + ')',\n  '휴무: ' + (store.HolidayInfo || ''),\n  '평균 응답 시간: ' + (store.ResponseTime || ''),\n  '택배 조회 링크: ' + (store.TrackingUrl || ''),\n  '제주/도서산간 배송: ' + (store.JejuAvailable ? '가능 (추가 배송비 ' + store.JejuExtraCost + '원)' : '불가'),\n  '해외 배송: ' + (store.OverseasAvailable ? '가능 (' + (store.OverseasCountries || '') + ')' : '불가'),\n  '세금계산서 발행: ' + (store.TaxInvoiceAvailable ? '가능 (' + (store.TaxInvoiceContact || '') + ')' : '불가'),\n  '결제 수단: ' + (store.PaymentMethods || ''),\n  '할부 안내: ' + (store.InstallmentInfo || ''),\n  '재입고 정보: ' + (store.RestockInfo || '정보 없음'),\n  '상품 상세 안내: ' + (store.ProductDetailGuide || '')\n].join('\\n');\n\n// faq_data JSON 직렬화\nconst faqData = JSON.stringify(faqItems\n  .filter(function(f) { return f.json.Category; })\n  .map(function(f) {\n    var patterns = f.json.QuestionPatterns;\n    var vars = f.json.Variables;\n    if (typeof patterns === 'string') {\n      try { patterns = JSON.parse(patterns); } catch(e) { patterns = [patterns]; }\n    }\n    if (typeof vars === 'string') {\n      try { vars = JSON.parse(vars); } catch(e) { vars = []; }\n    }\n    return {\n      category: f.json.Category,\n      question_patterns: patterns || [],\n      answer_template: f.json.AnswerTemplate || '',\n      variables: vars || []\n    };\n  }), null, 2);\n\n// 대화 이력 조립\nconst conversations = convItems\n  .filter(function(c) { return c.json.CustomerMessage; })\n  .reverse()\n  .map(function(c) {\n    return '[Customer]: ' + c.json.CustomerMessage + '\\n[Bot]: ' + c.json.BotResponse;\n  })\n  .join('\\n');\n\n// 시스템 프롬프트 조립\nconst storeName = store.StoreName || '스토어';\nconst systemPrompt = [\n  '당신은 ' + storeName + '의 고객 서비스 상담원입니다.',\n  '',\n  '## 역할',\n  '고객의 문의에 FAQ 데이터를 기반으로 정확하고 친절하게 답변합니다.',\n  '절대 FAQ 데이터 외의 내용을 추측하거나 임의로 답변하지 않습니다.',\n  '',\n  '## 말투 규칙',\n  '- 항상 존댓말을 사용합니다.',\n  '- 따뜻하고 전문적인 어조를 유지합니다.',\n  '- 이모지는 응답당 최대 1개만 사용합니다.',\n  '- 응답은 3문장 이내로 간결하게 작성합니다.',\n  '',\n  '## 스토어 기본 정보',\n  storeInfo,\n  '',\n  '## FAQ 데이터',\n  '아래 FAQ 목록만을 근거로 답변합니다. 이 목록에 없는 내용은 절대 답변하지 않습니다.',\n  '',\n  faqData,\n  '',\n  '## 답변 규칙',\n  '1. FAQ 매칭 시: FAQ의 AnswerTemplate을 기반으로 스토어 정보 변수를 채워 자연스럽게 답변합니다.',\n  '2. FAQ 미매칭 시: 아래 폴백 문구를 그대로 사용합니다.',\n  '   > \"문의 주신 내용을 담당자에게 전달하겠습니다. 영업시간 내 순차적으로 확인 후 연락드리겠습니다.\"',\n  '3. 복합 문의 시: 가장 핵심적인 질문 하나에만 답변하고, 나머지는 추가 문의를 유도합니다.',\n  '',\n  '## 절대 금지 사항',\n  '- 가격 할인이나 추가 혜택 약속',\n  '- 환불·교환의 즉시 처리 약속',\n  '- 배송 날짜를 구체적 날짜로 확정하여 약속',\n  '- 주민등록번호, 계좌번호 등 민감한 개인정보 요청',\n  '- FAQ에 없는 정책·정보를 추측하여 안내',\n  '- 타 쇼핑몰이나 경쟁사 언급'\n].join('\\n');\n\n// 유저 메시지 조립\nvar userMessage = '';\nif (conversations) {\n  userMessage = '## 대화 이력 (최근 5턴)\\n' + conversations + '\\n\\n## 고객 문의\\n' + webhookData.message;\n} else {\n  userMessage = '## 고객 문의\\n' + webhookData.message;\n}\n\n// Claude API 요청 본문\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 500,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userMessage }]\n});\n\nreturn [{\n  json: {\n    system_prompt: systemPrompt,\n    user_message: userMessage,\n    request_body: requestBody,\n    store_id: webhookData.store_id,\n    session_id: webhookData.session_id,\n    channel: webhookData.channel,\n    message: webhookData.message,\n    store_record_id: store.id || '',\n    store_name: storeName,\n    start_time: Date.now()\n  }\n}];"
      },
      "id": "50a71ef3-85ba-43c7-812b-5c4d008b0703",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1648,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ $json.request_body }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "0a0e248a-b71a-46ba-9d6f-6d179fb8ddd5",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        192
      ],
      "onError": "continueRegularOutput",
      "notes": "⚠️ Import 후 설정 필요:\nHeader Auth Credential 매핑\n- Header Name: x-api-key\n- Header Value: sk-ant-..."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst prevData = $('Build Prompt').first().json;\nconst startTime = prevData.start_time;\n\nvar botResponse;\nvar wasFallback = false;\nvar matchedCategory = '';\n\n// Claude API 에러 체크\nif (input.error || !input.content || !input.content[0]) {\n  botResponse = '죄송합니다. 일시적인 오류가 발생했습니다. 잠시 후 다시 시도해 주세요.';\n  wasFallback = true;\n} else {\n  botResponse = input.content[0].text;\n  wasFallback = botResponse.includes('담당자에게 전달');\n\n  // 카테고리 매칭 (키워드 기반 휴리스틱)\n  if (!wasFallback) {\n    var text = botResponse;\n    if (text.includes('출고') && text.includes('영업일')) matchedCategory = '배송소요일';\n    else if (text.includes('운송장') || (text.includes('배송') && text.includes('조회'))) matchedCategory = '배송조회';\n    else if (text.includes('교환')) matchedCategory = '교환';\n    else if (text.includes('반품') || text.includes('환불')) matchedCategory = '반품환불';\n    else if (text.includes('취소')) matchedCategory = '주문취소';\n    else if (text.includes('재입고') || text.includes('품절')) matchedCategory = '재입고';\n    else if (text.includes('운영시간') || text.includes('영업시간')) matchedCategory = '영업시간';\n    else if (text.includes('결제') || text.includes('세금계산서')) matchedCategory = '결제';\n    else if (text.includes('상세') && text.includes('페이지')) matchedCategory = '상품정보';\n    else if (text.includes('제주') || text.includes('도서산간') || text.includes('해외')) matchedCategory = '배송지역';\n  }\n}\n\nvar responseTimeMs = Date.now() - startTime;\n\nreturn {\n  StoreID: prevData.store_record_id ? [prevData.store_record_id] : [],\n  SessionID: prevData.session_id,\n  Channel: prevData.channel,\n  CustomerMessage: prevData.message,\n  BotResponse: botResponse,\n  MatchedCategory: matchedCategory,\n  WasFallback: wasFallback,\n  ResponseTimeMs: responseTimeMs\n};"
      },
      "id": "1b762f01-69ef-4f12-bc94-929e1e7ea1d4",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        192
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_AIRTABLE_BASE_ID",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "Conversations",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "9a42eb1e-1eba-43d5-a4e7-c15e72fe6418",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2368,
        192
      ],
      "onError": "continueRegularOutput",
      "notes": "autoMapInputData: Parse Response의 PascalCase 필드가\nAirtable 컬럼명과 자동 매핑됩니다.\n소문자 필드(bot_response 등)는 무시됩니다."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ response: $('Parse Response').first().json.BotResponse }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "dcc19b72-1fcb-4c1f-b622-88d1333973c7",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2608,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({ response: \"서비스 설정 중입니다. 잠시 후 다시 문의해 주세요.\", error: true }) }}",
        "options": {
          "responseCode": "200",
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5fcd39c2-b2a3-49e6-80e8-a3faaf47b08a",
      "name": "Send Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1168,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ArumDri CS봇 워크플로우\n\n### Import 후 필수 설정\n\n1. **Airtable Credential** 매핑\n   - 모든 Airtable 노드에서 Credential 재연결\n   - Base ID를 실제 값으로 변경 (appXXXXXX)\n\n2. **Claude API Credential** 매핑\n   - Call Claude API 노드에서 Header Auth 재연결\n   - Header Name: `x-api-key`\n   - Header Value: `sk-ant-...`\n\n3. **테스트**\n   - Webhook URL: `POST /webhook/csbot/message`\n   - Body: `{\"store_id\": \"1\", \"session_id\": \"test_001\", \"channel\": \"web_widget\", \"message\": \"배송 얼마나 걸려요?\"}`",
        "height": 540,
        "width": 420
      },
      "id": "046abe72-1fe8-4ff5-94e2-a5235b72f974",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ae16ecb6-fe68-4848-af02-699006963ca3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        208
      ],
      "id": "3e91d20b-cc9c-47f3-ae50-64f0f57d88c5",
      "name": "Store Exists?"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Message": {
      "main": [
        [
          {
            "node": "Get Store Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Config": {
      "main": [
        [
          {
            "node": "Store Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQs": {
      "main": [
        [
          {
            "node": "Get Recent Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Conversations": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Exists?": {
      "main": [
        [
          {
            "node": "Get FAQs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4aeaf7fe-5f14-4331-913b-c9312100c35c",
  "meta": {
    "instanceId": "ee47474067e98b2c6e6dc3fa8b47a61d99afb0655ded6fd3e34fb73643976e2b"
  },
  "id": "XPxbfd8S7lKjJ4WW",
  "tags": []
}